body{
    background-color: rgb(231, 232, 237);
}

.header-content{
    margin-top: 200px; 
    margin-left: 150px; 
    width: 420px

}

.facebook-caption{
    width: 75%;
}

#log-window {
    top: 0;
    left: 0;
    z-index: 1090;
    
}
.log-content{
    width: 450px;
    height: 350px;
    display: block;
    position: absolute;
    left: 55%;
    top: 100px;
    padding: 20px;
    background-color: #fff;
    min-width: 300px;
}
.logIn{
    font-size: 28px !important;
    background-color: #1877f2;
}

#newAcc{
    background-color: #42b72a;
}

.logIn:hover{
    background-color: #1667d1!important;
}
#newAcc:hover{
    background-color: #3ba726!important;
}

@media only screen and (max-width: 996px){
    .header-content{
        margin-top: 0; 
        margin-left: 0; 
        width: 100%;
        text-align: center;
    }
    .facebook-caption{
        width: 100%;
    }
    
    .log-content{
        min-width: 250px;
        width: 50%;
        left: 25%;
        top: 150px;
    }
    
}



#reghead {
    display: none;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    z-index: 1090;
}
.reg-content {
    box-shadow: 1px 2px 2px 5px #888888;
    min-width: 250px;
    max-width: 400px;
    width: 50%;
    height: 300px;
    position: absolute;
    left: 25%;
    top: 100px;
    padding: 20px;
    background-color: #fff;
}

.signUp{
    background-color: #3ba726!important;
    
}
